
.blog-link:link,
.blog-link:visited {
  color: var(--colour-pink);
  transition: all .3s;
}

.blog-link:hover,
.blog-link:active {
  color: var(--colour-primary-white);
  text-shadow: 0px 0px 5px rgba(217, 183, 252, 0.712),
    0 0 20px rgba(141, 173, 253, 0.829);
}

.blog-article {
  font-size: 20px;
  font-family: 'Inter';
  line-height: 1.6;
  font-weight: 300;
  color: var(--colour-secondary-white);
  max-width: 670px;
}

.blog-article > p {
  margin-bottom: 20px;
}

.blog-title {
  margin-top: 50px;
  margin-bottom: 15px;
  font-size: 50px;
  color: var(--colour-primary-white);
}

.blog-synopsis {
  font-size: 19px;
}

.article-title {
  margin-top: 50px;
  margin-bottom: 15px;
}

.blog-list {
  margin-bottom: 20px;
}

.blog-list > ul {
  padding-left: 30px;
}

#css-joke {
  margin-left: 10%;
  margin-right: 10%;
}

.big-parent {
  position: relative;
  margin-bottom: 30px;
}

