@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');

:root {
  --colour-background: #0B1830;
  --colour-pink: #FF0A78;
  --colour-blue: #6DB1BF;
  --colour-primary-white: #F4F7F5;
  --colour-secondary-white: #DCDEDD;
  --colour-tertiary-white: #C3C6C4;
}

*, 
::before,
::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

/* NOTE: line-height reset due to accessibility */

body {
  line-height: 1.5;
  font-family: 'Inter', sans-serif;
}

.container {
  background-color: #6DB1BF;
  margin: auto;
  max-width: 1100px;
}

.header {
  display: flex;
  align-items: center;
  flex: 1;
  padding: 0px 20px;
}

.nav {
  display: flex;
  height: 5rem;
}

.nav-links {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.nav-link {
  padding: 20px;
}

#logo {
  margin-right: 80px;
  color: var(--colour-pink);
  font-size: 42px;
  font-weight: 700;
}

#dot {
  color: var(--colour-primary-white);
}

.nav-link:link,
.nav-link:visited {
  text-decoration: none;
  color: var(--colour-primary-white);
}

.nav-link:hover,
.nav-link:active {}