@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600;700&display=swap');

:root {
  --colour-background: #0B1830;
  --colour-pink: #FF0A78;
  --colour-blue: #6DB1BF;
  --colour-primary-white: #F4F7F5;
  --colour-secondary-white: #DCDEDD;
  --colour-tertiary-white: #C3C6C4;

  --container-padding: 0 30px;
}

*, 
::before,
::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

/* NOTE: line-height reset due to accessibility */

body {
  line-height: 1.5;
  font-family: 'Roboto Slab', sans-serif;
  background-color: var(--colour-background);
  color: var(--colour-primary-white);

}

a {
  text-decoration: none;
}

.container {
  position: relative;
  margin: 0 auto;
  min-height: 100vh;
  max-width: 900px;
  padding: var(--container-padding);
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  margin-bottom: 100px;
  position: sticky;
  top: 0;
  background-color: var(--colour-background);
}

.nav {
  display: flex;
  height: 5rem;
}

.nav-links {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.nav-link {
  padding: 20px;
}

#logo {
  margin-right: 80px;
  font-size: 42px;
  font-weight: 700;
}

#logo-text:link, 
#logo-text:visited{
  color: var(--colour-pink);
}

#dot {
  color: var(--colour-primary-white);
  border-radius: 50%;
}

.nav-link:link,
.nav-link:visited {
  color: var(--colour-primary-white);
}

.nav-link:hover,
.nav-link:active {}

.header {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-title {
  font-size: 100px;
  line-height: 1;
  margin-bottom: 50px;
  font-weight: 400;
  text-shadow: 0 0 50px rgba(217, 183, 252, 0.301),
    0 0 20px rgba(141, 173, 253, 0.719);
}

.main-intro {
  font-size: 20px;
}

.blog-title {
  margin-top: 50px;
  margin-bottom: 10px;
  font-size: 40px;
}

.blog-link:link,
.blog-link:visited {
  color: var(--colour-pink);

}

.blog-link:hover,
.blog-link:active {

}

.btn {
  background: var(--colour-pink);
  border: none;
  border-radius: 40px;
  padding: 12px 30px;
  margin-top: 30px;
  cursor:pointer;
  color: var(--colour-primary-white);
  transition: all .3s;
  font-size: 16px;
}

.btn:hover{
  background: var(--colour-pink);
  transform: scale(1.1);
}

.btn-blog {
}

.footer {
  position: absolute;
  bottom: 0;
  width: calc(100% - 60px);
  height: 80px;
  padding: 25px 0px;
}

.footer-link {
  color: var(--colour-pink)
}

