@media all and (max-width: 1200px) {
  .container {
    width: 1000px;
  }
  .blog-title {
    font-size: 45px;
    margin-top: 0px;
  }
  small {
    font-size: 14px;
  }
  .blog-synopsis {
    font-size: 18px;
    margin-bottom: 34px;
  }
}

@media all and (max-width: 768px) {
  .container {
    width: 950px;
  }
  .blog-title {
    font-size: 42px;
    margin-top: 0px;
  }
  small {
    font-size: 12px;
  }
  .blog-synopsis {
    font-size: 16px;
    margin-bottom: 32px;
  }
}

@media all and (max-width: 600px) {
  .blog-title {
    font-size: 35px;
  }
}

@media all and (max-width: 550px) {
  .blog-article {
    font-size: 16px;
  }
}

@media all and (max-width: 450px) {
  .blog-title {
    font-size: 28px;
    margin-bottom: 5px;
  }
  small {
    font-size: 12px;
  }
  .blog-synopsis {
    font-size: 16px;
    margin-bottom: 32px;
  }
}

@media all and (max-width: 320px) {
  .container {
    width: 800px;
  }
  .btn {
    font-size: 12px;
    padding: 10px 20px;
  }
  .footer {
    font-size: 12px;
    height: 80px;
  }
  .blog-title {
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 5px;
  }
  small {
    font-size: 10px;
  }
  .blog-synopsis {
    font-size: 13px;
    margin-bottom: 30px;
  }
}
