@media all and (max-width: 730px) {
  .nav-bar {
    margin-bottom: 20px;
  }
  .main-title {
    font-size: 80px;
  }
  .main-intro {
    font-size: 17px;
  }
  .blog-title {
    font-size: 45px;
    margin-top: 0px;
  }
  small {
    font-size: 12px;
  }
  .blog-synopsis {
    font-size: 16px;
    margin-bottom: 32px;
  }
}

@media all and (max-width: 600px) {
  .main-title {
    font-size: 60px;
  }
  .main-intro {
    font-size: 15px;
  }
  .blog-title {
    font-size: 35px;
  }
}

@media all and (max-width: 550px) {
  .main-intro {
    font-size: 14px;
  }
  .blog-article {
    font-size: 16px;
  }
}

@media all and (max-width: 450px) {
  .nav-link {
    font-size: 16px;
  }
  .main-title {
    font-size: 50px;
  }
  .main-intro {
    font-size: 13px;
  }
  .blog-title {
    font-size: 28px;
    margin-bottom: 5px;
  }
  small {
    font-size: 12px;
  }
  .blog-synopsis {
    font-size: 16px;
    margin-bottom: 32px;
  }
}

@media all and (max-width: 380px) {
  .nav-bar {
    margin-bottom: 10px;
  }
  .nav-link {
    font-size: 14px;
  }
  #logo {
    margin-right: 40px;
  }
  #logo-text:link,
  #logo-text:visited {
    font-size: 32px;
  }
  .header {
    height: 220px;
  }
  .main-title {
    font-size: 45px;
  }
  .main-intro {
    font-size: 12px;
  }
  .btn {
    font-size: 12px;
    padding: 10px 20px;
  }
  .footer {
    font-size: 12px;
    height: 80px;
  }
  .blog-title {
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 5px;
  }
  small {
    font-size: 10px;
  }
  .blog-synopsis {
    font-size: 13px;
    margin-bottom: 30px;
  }
}