.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  margin-bottom: 100px;
  position: sticky;
  top: 0;
  background-color: var(--colour-background);
  z-index: 100;
  height: 100px;
}

.nav {
  display: flex;
}


.nav-links {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 30px;
}

#logo {
  margin-right: 80px;
}

#logo-text:link, 
#logo-text:visited{
  font-size: 42px;
  font-weight: 700;
  font-family: 'Inter';
  color: var(--colour-pink);
}

#dot {
  color: var(--colour-primary-white);
  border-radius: 50%;
}

.nav-link {
  position: relative;
  font-size: 19px;
}

.nav-link:link,
.nav-link:visited {
  color: var(--colour-primary-white);
  transition: all .3s;
}

.nav-link:hover,
.nav-link:active {
  text-shadow: 0px 0px 5px rgba(217, 183, 252, 0.712),
    0 0 20px rgba(141, 173, 253, 0.829);
}

.nav-link::before {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: -10px;
  background-color: var(--colour-pink);
  opacity: 0;
  transition: all 0.3s;
}

.nav-link:hover::before {
  bottom: -5px;
  opacity: 1;
}